.dialog{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
}

.dialog__mask{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	background: rgba(0,0,0,0.3)
}

.dialog__content{
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top:50%;
}
